@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');

@font-face {
  font-family: "Custom";
  src: url("fonts/1.otf") format("truetype");
}

@keyframes scroll-reveal {
    to {
        background-size: 100% 100%;
    }
}


@keyframes appear {
    0% {
        filter: blur(20px);
    }

    20% {
        filter: blur(0px);
    }

    80% {
        filter: blur(0px);
    }

    100% {
        filter: blur(20px);
    }
}

@media (min-width:1000px){
    @keyframes appear {
        0% {
            filter: blur(20px);
        }
    
        30% {
            filter: blur(0px);
        }
    
        75% {
            filter: blur(0px);
        }
    
        100% {
            filter: blur(20px);
        }
    }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: "Hedvig Letters Serif", serif;
    letter-spacing: -.04em;
    overflow-x: hidden;
}

header{
    position: fixed;
    top: 0;
    z-index: 100;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 15px 30px;
    /* background-color: rgba(255, 255, 255, 0.2); */
    opacity: 0;   
    font-size: 18px;
    line-height: 1.25;
    letter-spacing: -.04em;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: black;
    padding: 0 0 0 5px;
}

@media (max-width: 1000px){
    nav{
        backdrop-filter: blur(5px);
    }
}


.homepage{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100svh;
}

.homepage .homepage-content{
    flex: 1;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}


.homepage .homepage-content ul{
    display: none;
}

.homepage .title-name{
    font-family: "Custom";
    font-size: 200px;
}

.homepage-footer{
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 15px 30px;
    font-size: 1.3em;
}

.homepage-footer .right{
    text-align: right;
}

.homepage-footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-right: 40px;
}

.homepage-footer ul li a{
    text-decoration: none;
    color: black;
    padding: 0 0 0 5px;
}


@media (max-width:1500px){
    .homepage-footer ul{
        display: none;
    }
    
    .homepage-content .title-name{
        font-size: 80px;
        text-wrap: nowrap;
        rotate: -90deg;
    }

    .homepage .homepage-content ul{
        display: block;
        list-style: none;
        font-size: 1.6em;
        padding: 30px;
        transform: translateX(-150px);
    }

    .homepage .homepage-content ul a{
        color: black;
        text-decoration: none;
    }    
}


.title{
    font-size: 2.5em;
    font-weight: bold;
    /* width: 100vw; */
    padding-left: 40px;
    max-width: 100vw;
    width: 900px;
    padding-top: 100px;
}


.about{
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    animation: appear linear forwards;
    animation-timeline: view();
    animation-range: cover;
}


.about p{
    max-width: 100vw;
    width: 900px;
    font-size: 1.6em;
    padding: 40px;
}

.about p span{
    color: hsla(0, 0%, 0%, 0.274);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-image: linear-gradient(90deg,black, black);
    animation: scroll-reveal linear forwards;
    animation-timeline: view();
    animation-range: contain -300px 100vh;
}


@media (max-width: 1000px){
    .about p span{
        animation-range: contain -300px 120vh;

    }
    
    .about p{
        font-size: 1.4em;
    }
}


.projects{
    display: flex;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    max-width: 100vw;
    animation: appear linear forwards;
    animation-timeline: view();
    animation-range: cover;
}


.projects-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 900px;
    max-width: 90vw;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed black;
}

.projects-container img{
    width: 400px;
    max-width: 85vw;
    border-radius: 15px;
    padding: 5px;
    border: 1px dashed black;
    z-index: 0;
}

.projects-container .text{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-right: 30px;

}

.projects-container .text .heading{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.projects-container .text .description{
    font-size: 1em;
    margin-bottom: 10px;
}

.projects-container .text .tech{
    font-size: 1em;
    margin-bottom: 10px;
}

.projects-container .text .tech span{
    font-weight: bold;
}

.projects-container .text .links a{
    font-size: 1em;
    text-decoration: underline;
    color: black;
}

@media (max-width: 1000px){
    .projects-container{
        flex-direction: column;
    }

    .projects-container img{
        width: 90vw;
        margin-top: 20px;
    }
}



.mail{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    padding: 200px 50px 50px 50px;
    animation: appear linear forwards;
    animation-timeline: view();
    animation-range: cover 200px;
}

.mail p{
    font-size: 1.6em;
    width: 600px;
    max-width: 90vw;
    text-align: justify;
}

.mail a{
    font-size: 2.3em;
    padding: 20px;
    text-decoration: none;
    color: black;
    text-decoration: underline;
}

.footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100svh;
}

.footer .footer-content{
    flex: 1;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}


.footer .footer-content ul{
    display: none;
}

.footer .title-name{
    font-family: "Custom";
    font-size: 200px;
}

.footer-footer{
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 15px 30px;
    font-size: 1.3em;
}

.footer-footer .right{
    text-align: right;
}

.footer-footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-right: 40px;
}

.footer-footer ul li a{
    text-decoration: none;
    color: black;
    padding: 0 0 0 5px;
}


@media (max-width:1500px){
    .footer-footer ul{
        display: none;
    }
    
    .footer-content .title-name{
        font-size: 80px;
        text-wrap: nowrap;
        rotate: -90deg;
    }

    .footer .footer-content ul{
        display: block;
        list-style: none;
        font-size: 1.6em;
        padding: 30px;
        transform: translateX(-150px);
    }

    .footer .footer-content ul a{
        color: black;
        text-decoration: none;
    }    

    .footer-footer{
        font-size: 0.9em;
    }

    .mail p{
        font-size: 1.2em;
        text-align: justify;
        width: 80vw;
    }
    
    .mail a{
        font-size: 1.6em;
        padding: 20px;
        text-decoration: none;
        color: black;
        text-decoration: underline;
    }
}